@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: #ffffe1;
    color: #1f1f09;
    display: flex;
    align-items: center;
    justify-content: center;
}

button, li, a{
    all: unset;
    box-sizing: border-box;
}
#dropdown{
    --border-radius: 6px;
    --shadow-color: 60deg 13% 61%;

    max-width: 220px;
    width: 100%;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow:  0 6px 12px hsl(var(--shadow-color) / 0.4);
    position: relative;
}

.dropdown-toggle, .submenu-item, .menu-item{
    width: 100%;
    cursor: pointer;
    padding: 12px 20px;
}

:is(.menu-item, .submenu-item):first-child{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
:is(.menu-item, .submenu-item):last-child{
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
:is(.menu-item, .submenu-item):hover{
    background-color: #faf6ea;
}

.dropdown-toggle, .submenu-toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-toggle > span{
    color: #7b7b6a;
}
i{
    color: #db8400;
    transition: 0.25s ease;
}

.dropdown-toggle.open > i{
    rotate: 180deg;
}

.dropdown{
    position: relative;
}

.menu, .submenu{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: var(--border-radius);
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.menu{
    width: 100%;
    translate: 0 12px;
}

.menu.open{
    visibility: visible;
    opacity: 1;
    translate: 0 12px;
}

.submenu{
    translate: -12px 0;
    width: max-content;
    position: absolute;
    top: 0;
    left: 100%;
    opacity: 0;
    visibility: hidden;
}

.menu-item:hover > .submenu-toggle + .submenu{
    opacity: 1;
    visibility: visible;
    translate: 8px 0;
}